body{
    background-image: url(imagess/wallpapersden.com_elden-ring-poster_3840x2160.jpg);
    background-size: 500px;
    background-position: center;
    color: burlywood;

}
h1{
    color: pink;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-template-columns: 10m;
} 

#pg1 {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: 1fr 1fr ;
}

#img1{
    width: 500px;
    
}


